<article
  *ngFor="let user of users"
  class="rounded-xl border border-gray-700 bg-gray-100 p-4"
>
  <div class="flex items-center gap-4">
    <img
      alt=""
      src="{{ user.image }}"
      class="size-16 rounded-full object-cover"
    />

    <div>
      <h3 class="text-lg font-medium text-gray-900">{{ user.username }}</h3>

      <div class="flow-root">
        <ul class="-m-1 flex flex-wrap">
          <li class="p-1 leading-none">
            <a href="#" class="text-xs font-medium text-gray-600"
              >{{ user.email }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="mt-4 space-y-2">
    <li>
      <a
        href="#"
        class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600"
      >
        <strong class="font-medium text-white">
          <div>
            <app-thread />
          </div>
        </strong>
      </a>
    </li>
  </ul>
</article>
